h1,
button {
    width: 20%;
    /* 設定外邊距 */
    margin: 1% 40%;
}

#itemList {
    width: 100%;
    height: 250px;
    /* 設定上內邊距 */
    padding-top: 238px;
    background-color: #ccc;
}

.font-center {
    text-align: center;
}

.font-24px {
    font-size: 24px;
}